.root {
  height: 80vh;

  &.fullscreen {
    height: 100%;
  }
}

.rightBar {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  row-gap: 0.8rem;
  width: 100%;
}

.sideBarButton {
  border: 0;
  border-bottom: 1px solid hsl(0deg 0% 88%);
  border-radius: 0;
  height: 30px;
  margin: 0;
  width: 100%;
}

.fill {
  flex: 1;
}

.desktop {
  aspect-ratio: 16 / 9;
  border: 20px solid hsl(0deg 0% 0%);
  border-radius: 15px;
  margin: auto;
  max-height: 35vw;
}

.phone {
  aspect-ratio: 9 / 18;
  border: 20px solid hsl(0deg 0% 0%);
  border-radius: 15px;
  margin: auto;
  max-height: 100%;
}

.tablet {
  aspect-ratio: 3/4;
  border: 20px solid hsl(0deg 0% 0%);
  border-radius: 15px;
  margin: auto;
  max-height: 100%;
}
