.root {
  height: 80vh;
  position: relative;

  &.fullscreen {
    height: 100%;
  }
}

.dropzone {
  border: none;
  flex: 1;
  position: absolute;
}

.dropzoneDragOver {
  border: 3px solid rgb(105 233 93);
  flex: 1;
  position: absolute;
}

.dropzoneActive {
  flex: 1;
  height: 80vh;
  position: absolute;
  width: 100%;
}

.dropzoneInactive {
  border: none;
  flex: 1;
  height: 0%;
  position: absolute;
  width: 0%;
}

.rightBar {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  row-gap: 0.8rem;
  width: 100%;
}

.fill {
  flex: 1;
}

.desktop {
  aspect-ratio: 16 / 9;
  border: 20px solid hsl(0deg 0% 0%);
  border-radius: 15px;
  margin: auto;
  max-height: 35vw;
}

.phone {
  aspect-ratio: 9 / 18;
  border: 20px solid hsl(0deg 0% 0%);
  border-radius: 15px;
  margin: auto;
  max-height: 100%;
}

.tablet {
  aspect-ratio: 3/4;
  border: 20px solid hsl(0deg 0% 0%);
  border-radius: 15px;
  margin: auto;
  max-height: 100%;
}
