.root {
  margin: 0;
  overflow: scroll;
  -ms-overflow-style: none;
  overflow-x: hidden;
  padding: 0;
  position: relative;
}

.root::-webkit-scrollbar {
  display: none;
  padding: 0;
}

.leftBar {
  border: hsl(0deg 0% 83%) 1px solid;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 16%;
  width: 16%;
}

.rightBar {
  border: hsl(0deg 0% 83%) 1px solid;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  max-width: 20%;
  width: 20%;
}

.isClosed {
  border-width: 0;
  transition:
    width 0.35s ease-in-out,
    border-width 0.35s ease-in-out;
  width: 0;
}

.isOpen.leftBar {
  border: hsl(0deg 0% 83%) 1px solid;
  transition: width 0.35s ease-in-out;
  width: 16%;
}

.isOpen.rightBar {
  border: hsl(0deg 0% 83%) 1px solid;
  transition: width 0.35s ease-in-out;
  width: 20%;
}

.rightBarSlider {
  background-color: hsl(0deg 0% 100%);
  border-bottom: none;
  border-radius: 0 4px 0 0;
  width: 100%;
}

.leftBarSlider {
  background-color: hsl(0deg 0% 100%);
  border-bottom: none;
  border-radius: 4px 0 0;
  width: 100%;
}
